{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "react-imported-component/babel",
    "@babel/plugin-proposal-dynamic-import",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "env": {
    "client": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
